body {
  background: #000000;
  margin: 0;
  padding: 0;
  height: 100vh;

}

h1{
  color: white;
  background: blue;
  margin: 0;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: normal;
  font-size: 45px;
  text-align: center;
  line-height: 100vh;
}
