/*@media screen and (max-width: 650px) {
  .topnav a {display: none;}
  .topnav a.icon {
    display: inline;
  }

}
@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    display: inline;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }

  li
    display: block;
    text-decoration: none;
  }
}
*/

@media only screen and (max-width: 768px){
  .box {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
  }
  .search-grid{
      display: inline-grid;
      grid-template-columns: 1fr;
    }

  .search-grid img {
    width: 100%;
    padding: 1em;
  }

    .page1{
      grid-column-start:1;
      grid-column-end:2;
    }

    .page2{
      grid-column-start:1;
      grid-column-end:2;
    }

  .foot {
    text-align: center;
  }

}

/*Responsive Design for projects and design*/
@media only screen and (min-width: 768px) and (max-width: 991px){

  .photo-grid{
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }
  .a {
    grid-column-start:1;
    grid-column-end:2;
  }
  .b {
    grid-column-start:2;
    grid-column-end:3;
  }
  .c {
    grid-column-start:1;
    grid-column-end:2;
  }
  .d {
    grid-column-start:2;
    grid-column-end:3;
  }
  .e {
    grid-column-start:1;
    grid-column-end:2;
  }
  .f {
    grid-column-start:2;
    grid-column-end:3;
  }
  .g {
    grid-column-start:1;
    grid-column-end:2;
  }

  .photo-cell{
    width: 75%;
  }

  .search-grid{
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

  .search-grid img {
    width: 100%;
    padding: 1em;
  }

    .page1{
      grid-column-start:1;
      grid-column-end:2;
    }

    .page2{
      grid-column-start:2;
      grid-column-end:3;
    }


  .box {
    width: 250px;
    height: 250px;
  }

  .foot {
    text-align: center;
  }


}
/*
@media only screen and (max-width: 992px){
  .topnav a {display: none;}
  .topnav a.icon {
    display: inline;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    display: inline;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }

  li{
    display: block;
    text-decoration: none;
  }
}
*/

@media only screen and (min-width: 992px){

  .photo-grid{
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .a {
      grid-column-start:1;
      grid-column-end:2;
    }
    .b {
      grid-column-start:2;
      grid-column-end:3;
    }
    .c {
      grid-column-start:3;
      grid-column-end:4;
    }
    .d {
      grid-column-start:1;
      grid-column-end:2;
    }
    .e {
      grid-column-start:2;
      grid-column-end:3;
    }
    .f {
      grid-column-start:3;
      grid-column-end:4;
    }
    .g {
      grid-column-start:1;
      grid-column-end:2;
    }

    .search-grid{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
      }

    .search-grid img {
      width: 100%;
      padding: 1em;
    }

      .page1{
        grid-column-start:1;
        grid-column-end:2;
      }

      .page2{
        grid-column-start:2;
        grid-column-end:3;
      }

    .box {
        height: 250px;
      }


    footer p{
        display: inline-block;
    }

}
