html, body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding-top: 4em;
  padding-bottom: 4em;
  line-height: 50px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

h3 {
  border-bottom: 2px solid white;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

header {
  background-color: white;
}

.scroll{
  text-align: center;
  padding-bottom: 5em;
}

.scroll a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

/*new nav*/
.navbar-nav a {
  color: #12406A;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.navbar-nav > .active > a{
  color: #EB8F90;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #f5f5f5;
}

.navbar-nav > li > a:hover {
  color: #EB8F90;
  background-color: white;
}

.navbar-brand {
  padding: 5px 15px;
}

.dropdown-menu > li > a:hover {
  color: #EB8F90;
  background-color: white;
}

.dropdown-menu > .active > a{
  color: #EB8F90;
  background-color: white;
}

.dropdown-menu > .active > a:hover {
  color: #EB8F90;
  background-color: white;
}

.navbar-toggle .icon-bar {
  background-color: #EB8F90;
  border: none;
}

/* Body */
.jumbo{
  background: linear-gradient(180deg, #ff9a9e, #fad0c4);
  background-color: #EB8F90;
  padding: 5em;
  color: white;
  margin-bottom: 4em;
}

.jumbo h3{
  text-align: center;
}

.arrows a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

.arrows a:hover {
    background-color: #EB8F90;
    color: white;
}

.arrows .previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 10px;
}

.arrows .next {
    background-color: #f1f1f1;
    color: black;
}

.arrows .round {
    float: right;
    font-size: 10px;
    margin-left: 1em;
    display: inline-block;
}

.intro {
  color: white;
  padding: 5em;
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: my-animation2 1.5s;
}

@keyframes my-animation2 {
  from {transform: rotateX(270deg)}
  to {
  transform: rotateX(360deg)}
}


/* Design */
.thumb img {
  width: 100%;
  display: inline-block;
  margin: auto;
}

.photo-grid img {
	  width: 100%;
  	display: inline-block;
    padding: 1em;
}

/*Projects */
.thumb {
  padding-bottom: 2em;
}

.thumb{
  transition: transform .2s;
}
.thumb:hover .image {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}

.text {
  color: black;
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.myBtn {
  background-color: #a6c1ee;
  width: 50%;
  border: none;
  display: block;
  margin: auto;
  padding: 1em;
  font-size: 16px;
}

.myBtn2 {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  border: none;
  width: 50%;
  display: block;
  margin: auto;
  padding: 1em;
  font-size: 16px;
}

.myBtn a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  font-size: 12px;
}

.myBtn2 a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  font-size: 12px;
}

.card {
  text-align: center;
  padding: 1em;
  padding-bottom: 3em;
}


.myBtn:hover{
  opacity: 0.7;
}

/*DFA*/
.coming {
  background-image: url("https://infohandle.net/wp-content/uploads/2017/10/5.png");
  background-color: black;
  width:100%;
  height:300px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.innernav {
  color: #977cad;
  font-size: 12px;
  margin-right: 1em;
  border-top: 0px solid #190629;
  border-bottom: 0px solid #190629;
  padding: 2em 1em;
  transition: 0.5s all;
}

.innernav:hover{
  text-decoration: none;
  color: #977cad;
  border-top: 2px solid #977cad;
  border-bottom: 2px solid #977cad;
  padding: 1em;
  transition: 0.5s all;
}

#studio {
  padding-bottom: 1em;
}

.hcw {
  padding: 1em 0;
  border-bottom: 1px solid grey;
}

/*Design Clinic*/
.page {
  width: 10%;
}

/*IDS*/
iframe {
  margin: auto;
  display: block;
}

/*About Me */
#bio img {
  width: 100%;
  display: inline-block;
  padding-bottom: 2em;
}

#bio p {
  font-size: 18px;
  text-decoration: none;
}

#bio a {
  color: #EB8F90;
}

.box {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  height: 250px;
  border: 6px solid white;
  color: white;
  text-align: center;
  margin-top: 1em;
  cursor: pointer;


  /*transition effects */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.box:hover {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: black;
}


.box.flip {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.box .front {
  padding-top: 1em;
  font-size: 24px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box .back {
  text-align: left;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.box .back ul {
  list-style: none;
}


/* Footer */
footer {
  color: black;
  background-color: #ECE4E2;
}

footer p{
    padding: 1em;
    margin: 1em;
}
.social{
  color: transparent;
  display: hidden;
}
.fa {
  padding: 1em;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

/* Contact*/
#talk {
  padding-bottom: 2em;
}
#talk p {
  font-size: 18px;
  text-decoration: none;
}

#talk a {
  color: #EB8F90;
}

.hero-image {
  background-image: url("../img/bricks.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: white;
  padding: 1em;
}

.boxy {
  background-color: black;
  opacity: 0.8;
  width: 70%;
  height: 25%;
  margin: auto;
  display: inline-block;
  text-align: center;
}


.hero-text button:hover {
  background-color: #555;
  color: white;
}
